@use "../config" as *;

.product-show-img {
  height: 800px;
  width: 100%; 
  object-fit: cover;
}

#add-btn, #sub-btn {
  width: 45px;
  height: 42px;
}

#product-show-qtt {
  width: 80px !important;
}

#similar-products {
  background-color: white;
  @extend .products-view;
}

#product-show-info {
  h2 a {
    text-decoration: none;
    color: black;
  }
}

#product-show-shop {
  @extend .bg-color-cream;
}

.product-show_images-holder {
  overflow-x: auto;

  img { 
    width: 100px;
    height: 100px;
    max-width: 100px;
  }
}

.product-show_images-holder .d-flex:first-child img,
.product-show_small-image:hover {
  border-color: $dark-green;
  cursor: pointer;
}

