@use "../config" as *;

.product-show-img {
  height: 800px;
  width: 100%; 
  object-fit: cover;
}

#add-btn, #sub-btn, #product-show-qtt {
  width: 55px;
}

#similar-products {
  background-color: white;
  @extend .products-view;
}

#product-show-info {
  h2 a {
    text-decoration: none;
    color: black;
  }
}

#product-show-shop {
  @extend .bg-color-cream;
}

.product-show_images-holder {
  overflow-x: auto;
}

.product-show_images-holder .d-flex:first-child img,
.product-show_small-image:hover {
  border-color: $dark-green;
  cursor: pointer;
}
