@use "config" as *;
@use "navigation";
@use "pagination";
@use "home";
@use "admin";
@use "products/products";
@use "users/users";
@use "shops/shops";
@use "ratings/ratings";

@import 'trix/dist/trix';
@import '@tabler/core/dist/css/tabler.min.css';
// @import "~bootstrap/scss/bootstrap";


@media only screen and (max-width: 767px) {
  .product-img-responsive {
    height: 840px;
    object-fit: cover;
  }

  .logo-responsive {
    // width: 100px;
    // height: 40px;
    max-height: 40px;
  }

  .height-responsive {
    height: calc(100vh - 88px);
  }

  #signup-height {
    height: 716px;
  }

  .overflow-x-auto {
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .w-767px {
    width: 767px;
  }
}

@media only screen and (min-width: 768px) {
  .product-img-responsive {
    height: 584px;
    object-fit: cover;
  }

  .logo-responsive {
    // width: 160px;
    // height: 64px;
    max-height: 64px;
  }

  .height-responsive {
    height: calc(100vh - 112px);
  }

  #signup-height {
    height: 744px;
  }
}

@media only screen and (min-width: 992px) {
  .product-img-responsive {
    height: 360px;
    object-fit: cover;
  }

  // .logo-responsive {
  //   width: 160px;
  //   height: 64px;
  // }

  .w-lg-50 {
    width: 50% !important;
  }
}

// @media only screen and (min-width: 1200px) {
//   body {
//     background-color: lightblue;
//   }
// }

body {
  font-family: $dg;
}

.page-wrapper {
  @extend .ff-inter;
}
