@use "config" as *;

nav {
  a {
    @extend .navbar-link;
  }

  button {
    border-style: none; 
    background-color: white;
  }
}

#subnav {
  display: none;

  a {
    @extend .navbar-link;

    .container-fluid {
      border-left: solid 5px white;

      &:hover {
        border-color: $dark-green;
      }
    }
  }
}