@use '../config' as *;

#user-auth {
  background: url('/assets/home-cover.jpg');

  .container-xl {
    background-color: white;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h1 {
    font-size: 70px;
  }
}

form {
  abbr {
    display: none;
    text-decoration: none !important;
  }

  label {
    font-size: 24px;
    @extend .fw-500;
    margin-bottom: 4px;
    margin-top: 8px;
  }

  label[for*='image'] {
    display: block;
  }

  span > label {
    margin: 0;
    font-size: 20px;
  }

  input, textarea, select {
    width: 100%;
    padding: 8px 16px;
    font-size: 20px;
    outline-color: $dark-green;
  }

  input.btn {
    margin-top: 24px;
    @extend .btn-large;
  }

  // input[type='file'] {
  //   height: 150px;
  //   width: 150px;
  //   background-color: #e8e9e3;
  // }

  a:hover {
    @extend .text-darkgreen;
  }
}
