|
  // Update cart-total-price if the cart_item is checked
  if ($("#cart-item-#{@line_item.id} .input-cart-item").is(":checked")) {
    $(".cart-total-price").text(window.displayPrice(Number($(".cart-total-price").text()) - Number("#{@line_item.quantity * @line_item.product.price}")))
    $(".cart-final-items").text(Number($(".cart-final-items").text()) - 1)
  }

  // If cart_item is the only item in the current shop
  if ($("#cart-item-#{@line_item.id}").closest(".cart-item").siblings().length == 0) {
    // If there is only the current shop
    if ($(".shop-items").length == 1) {
      $(".cart-info").remove()
      $(".cart-checkout").remove()
      $(".cart-container").append("#{ j render "cart_items/empty" }")
    }
    else {
      $("#cart-item-#{@line_item.id}").closest(".shop-items").remove()

      let allShop = $('.input-shop-items').length
      let allShopChecked = $('.input-shop-items:checked').length

      if (allShop == allShopChecked) {
        $("#shop-all").prop("checked", true)
      }
    }
  }
  // otherwise, delete the cart-item only
  else {
    let currentShop = $("#cart-item-#{@line_item.id}").closest('.shop-items')
    
    // delete the cart-item
    $("#cart-item-#{@line_item.id}").closest(".cart-item").remove()
    
    let allItemsCurrentShop = currentShop.find('.cart-items input').length
    let allItemsCurrentShopChecked = currentShop.find('.cart-items input:checked').length

    if (allItemsCurrentShopChecked == allItemsCurrentShop)
      currentShop.find(".input-shop-items").prop("checked", true)

    if ($(".shop-items").length == 1) {
      $("#shop-all").prop("checked", true)
    }
  }

  // Update cart-total-items 
  $(".cart-total-items").text(Number($(".cart-total-items").first().text()) - 1)
