- if @error 
  |
    alert("Quantity modification cannot be done!")
- else 
  | 
    // change item quantity
    $("#cart-item-#{@line_item.id} .item-qtt").text("#{@line_item.quantity}")
    // change item total price
    $("#cart-item-#{@line_item.id} .item-total-price").text("#{ display_price(@line_item.product.price * @line_item.quantity) }")

    if ($("#cart-item-#{@line_item.id} input").is(":checked")) {    
      // change cart total price
      if ("#{@action}" == "inc") {
        $(".cart-total-price").text(window.displayPrice(+$(".cart-total-price").text().replaceAll('.', '') + +#{@line_item.product.price}))
      }
      else {
        $(".cart-total-price").text(window.displayPrice(+$(".cart-total-price").text().replaceAll('.', '') - +#{@line_item.product.price}))
      }
    }

    if ("#{@action}" == "inc") {
      if ("#{ @line_item.quantity }" == 2) {
        $("#cart-item-#{@line_item.id} .btn-dec").removeClass("disabled")
      }
    }
    else {
      if ("#{ @line_item.quantity }" == 1) {
        $("#cart-item-#{@line_item.id} .btn-dec").addClass("disabled")
      }
    }
