- flash.each do |key, value| 
  div class="alert alert-#{flash_class(key)} m-0 fs-5 rounded-0 d-flex justify-content-between"
    = value
    button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert"

